body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
  text-align: center;
}

input, select, button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

button {
  background: green;
  color: white;
}