body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
  text-align: center;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.card {
  flex: 1;
  background: #222;
  padding: 10px;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

button {
  background: green;
  color: white;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 8px;
  background: #222;
  border-radius: 6px;
}

li button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}